{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - PomodoroTasks</title>
    <link rel="icon" href="{% static 'PomodoroTaskIcon.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'styles/login.css' %}" />
</head>
<body>
    <div class="login-container">
        <a href="{% url 'index' %}"class="back-btn">
            <img src="{% static 'IMGS/PomodoroTaskIcon.png' %}" alt="PomodoroTasks Logo" class="logo">
            <h1>PomodoroTasks</h1>
        </a>
        <h2 class="title">Login</h2>
        <form id="loginform" class="login-form" method="POST">
            {% csrf_token %}
            <label for="username">USERNAME</label>
            <input type="text" id="username" placeholder="Username" required />
            
            <label for="email">EMAIL</label>
            <input type="email" id="email" placeholder="example@mail.com" required />

            <label for="password">PASSWORD</label>
            <input type="password" id="password" placeholder="Password" required />
            
            <button type="submit" class="login-btn" id="submitLoginBtn">Log in</button>
        </form>
        
        <a href="#" class="forgot-password">Forgot Password?</a>

        <p class="signup-link">
            Do not have an account? <a href="{% url 'signup' %}">Create account</a>
        </p>
    </div>
        <script src="{% static 'scripts/login.js' %}"></script>
</body>
</html>
