/* global.css */
@import url('pomodoroCont.css');
@import url('userSidebar.css');
@import url('taskBar.css');
@import url('button.css');
@import url('login.css');
@import url('signup.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #3f3f4d;
  --text-color: #ffffff;
  --accent-color: #355454;
}
body.default-mode {
  --background-color: #3f3f4d;
  --text-color: #ffffff;
  --accent-color: #355454;
}


body.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  --accent-color: #007bff; /* Light theme accent color */
}

/* Dark Theme */
body.dark-mode {
  --background-color: #2c2c2c;
  --text-color: #ffffff;
  --accent-color: #ff5722; /* Dark theme accent color */
}


body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;  
}


@media (max-width: 300px) {
  body {
    flex-direction: column;
    padding: 10px;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }
}





