/* global.css */

button {
    background-color: var(--accent-color);
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for all buttons except close/open buttons */
  button:hover {
    background-color: #0056b3; /* Specify a lighter or darker color directly */
  }
  
  /* Specific styles for close/open buttons if needed */
  .userOpenBtn,
  .userCloseBtn {
    background-color: var(--background-color); /* Define the background color for open buttons */
    color: var(--text-color); /* Text color for open buttons */
  }
  
  .userOpenBtn:hover,
  .userCloseBtn:hover {
    background-color: var(--background-color);/* Define a hover color for open/close buttons */
  }
  